<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuxiang.service.mapper.LandlordMapper">

    <resultMap id="BaseResultMap" type="com.zhuxiang.service.entity.Landlord">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="avatarUrl" column="avatar_url" />
            <result property="phone" column="phone" />
            <result property="isVerified" column="is_verified" />
            <result property="rating" column="rating" />
            <result property="rentedCount" column="rented_count" />
            <result property="responseDescription" column="response_description" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,name,avatar_url,phone,is_verified,rating,
        rented_count,response_description,created_at,updated_at
    </sql>
</mapper>
