<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuxiang.service.mapper.HouseFacilityMapper">

    <resultMap id="BaseResultMap" type="com.zhuxiang.service.entity.HouseFacility">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="iconKey" column="icon_key" />
            <result property="sortOrder" column="sort_order" />
            <result property="enabled" column="enabled" />
            <result property="createdAt" column="created_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,name,icon_key,sort_order,enabled,created_at
    </sql>
</mapper>
