<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuxiang.service.mapper.RegionMapper">

    <resultMap id="BaseResultMap" type="com.zhuxiang.service.entity.Region">
            <id property="id" column="id" />
            <result property="parentId" column="parent_id" />
            <result property="name" column="name" />
            <result property="code" column="code" />
            <result property="level" column="level" />
            <result property="sortOrder" column="sort_order" />
            <result property="enabled" column="enabled" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,parent_id,name,code,level,sort_order,
        enabled,created_at,updated_at
    </sql>
</mapper>
